.search{
  margin: auto;
  max-width: 1440px;
  padding-bottom: 62px;
  background: #F5F6F7;
}
.search__title{
  margin: 0 0 64px 104px;
  padding-top: 80px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
}
.search__result{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px 16px;
  justify-content: center;
  max-width: 1320px;
  margin: 0 80px 0 80px;
}
.card{
  max-width: 400px;
}
.card-image{
  position: relative;
}
.card-image__photo{
  justify-content: center;
  background-repeat: no-repeat;
  background-image: url(../../images/image_08.png);
  height: 272px;
  border-radius: 16px;
  background-size: cover;
}
.card-image__save{
  position: absolute;
  background: #FFFFFF;
  border-radius: 8px;
  width: 40px;
  height: 40px;
  top: 35px;
  right: 37px;
}
.card-image__bookmark{
  background-image: url(../../images/Rectangle1.png);
  justify-content: center;
  background-repeat: no-repeat;
  width: 14px;
  height: 19px;
  background-size: cover;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%
}
.card__date{
  margin: 20px 0 12px 24px;
  display: block;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
}
.card__title{
  margin: 0 0 16px 24px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
}
.card__information{
  margin: 0 0 18px 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}
.card__source{
  margin-left: 24px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;

}
.search__button{
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #1A1B22;
  width: 288px;
  height: 64px;
  background: #FFF;
  border-radius: 80px;
  margin: 64px auto 0 auto;
}